.copyarea {
    background: var(--accent-bg-color);
    color: var(--accent-color);
    padding: 0.5rem;
    border: 1px solid var(--accent-color);
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}