.post-header {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 1rem;

  &__heading {
    @include my(0.5rem);
    
    &--tag {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &--tag-text {
      margin-right: 0.5rem;
    }
    &--tag-color {
      display: inline-block;
      border-radius: 9999px;
      vertical-align: text-bottom;
      margin-right: 0.5rem;
      height: 4rem;
      width: 4rem;
    }
  }
  &__tag-row {
    padding-top: 1rem;
    @include screen(md) {
      padding-top: 0;
    }
  }
  &__tag-info {
    display: inline-block;
    padding-right: 0.25rem;
  }

  &__time {
    font-size: $text-sm;
    @include my(0.5rem);
  }
  &__title {
    @include my(0.5rem);
  }
  &__author-list {
    font-size: $text-sm;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include my(1rem);
  }
  &__author-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.75rem;
  }
  &__author-image {
    border-radius: 9999px;
    height: 2rem;
  }
  &__author-names {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }
  &__social {
    color: $white;
  }
  &__caption {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 0;
    margin-bottom: 0;
    @include screen(md) {
      text-align: center;
      font-size: 0.875rem;
    }
  }

  &__featured-image {
    @include my(2rem);
    @include mx(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    position: relative;

    img {
      min-width: 100vw;
      object-fit: cover;
      height: 50vh;
      @include screen(md) {
        height: 70vh;
      }
    }

    figcaption {
      font-size: $text-sm;
      background: var(--bg-color);
      color: var(--highlight-color);
      padding: 0.25rem 1rem;
      border-radius: 1rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      text-align: center;
      position: absolute;
      bottom: 1rem;
      box-shadow: 0px 0px 4px 1px var(--accent-color);
      z-index: 120;
      @include transition;
  
      @include screen(md) {
        padding: 0.5rem 2rem;
      }
    }
    &:hover figcaption {
      transform: translateY(100%) translateY(2rem);
    }
  }
}
