.post-header {
  &__heading {
    @include my(0.5rem);

    &--tag {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &--tag-text {
      margin-right: 0.5rem;
      color: $white;
    }
    &--tag-color {
      display: inline-block;
      border-radius: 9999px;
      vertical-align: text-bottom;
      height: 4rem;
      width: 4rem;
    }
  }
  &__tag-row {
    padding-top: 1rem;
    @include screen(md) {
      padding-top: 0;
    }
  }
  &__tag-info {
    display: inline-block;
    padding-right: 0.25rem;
  }

  &__time {
    font-size: $text-sm;
    @include my(0.5rem);
  }
  &__title {
    color: $white;
    @include my(0.5rem);
  }
  &__author-list {
    font-size: $text-sm;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include my(0.5rem);
    @include py(0.5rem);
  }
  &__author-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.25rem;
    margin-right: 0.75rem;
  }
  &__author-image {
    border-radius: 9999px;
    height: 2rem;
  }
  &__author-names {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
  }
  &__author-name {
    color: $white;
  }
  &__social {
    color: $white;
  }
}
