.tag {
  &__color {
    display: inline-block;
    border-radius: 9999px;
    vertical-align: text-bottom;
    height: 1rem;
    width: 1rem;
  }
  &__name {
    font-size: $text-base;
    &:hover {
      text-decoration: underline;
    }
    &--post-header {
      color: $white;
    }
  }
  &__paywall {
    font-size: $text-base;
    &:hover {
      text-decoration: underline;
    }
    color: var(--accent-color);
  }
}
