$text-4xl: 2.25rem;
$text-3xl: 1.875rem;
$text-2xl: 1.5rem;
$text-xl: 1.25rem;
$text-lg: 1.125rem;
$text-base: 1rem;
$text-sm: 0.875rem;
$text-xs: 0.75rem;

$font-light: 300;
$font-base: 400;
$font-medium: 500;

$white: #FFFFFF;
$black: #000000;
$theme-blue: #22558C;

$text-light: #000000;
$bg-light: #FFFFFF;
$accent-light: #22558C;
$accent-bg-light: #E5E7EB;
$highlight-light: #22558C;
$highlight-bg-light: #9FD3F0;

$text-dark: #FFFFFF;
$bg-dark: #263238;
$accent-dark: #9FD3F0;
$accent-bg-dark: #455A64;
$highlight-dark: #9FD3F0;
$highlight-bg-dark: #3B90C6;